mode: train
train:
  dataset: MvRgbDatasetActorsHQ
  data:
    subject_name: actor02
    data_dir: Z:/Data/MultiviewRGB/ActorsHQ/Actor02/Sequence1
    frame_range: &id001
    - 60
    - 2157
    - 1
    used_cam_ids: [4, 5, 6, 7, 20, 21, 22, 23, 36, 37, 38, 39, 52, 53, 54, 55, 76, 77, 78, 79, 92, 93, 94, 95, 108, 109, 110, 111, 125, 126, 127, 130, 131, 134, 135, 138, 139, 142, 143, 146, 147, 150, 151, 154, 155, 158, 159]
    load_smpl_pos_map: true
  pretrained_dir: null
  net_ckpt_dir: ./results/actor02/avatar
  prev_ckpt: null
  ckpt_interval:
    epoch: 100
    batch: 50000
  eval_interval: 1000
  eval_training_ids: [562, 4]
  eval_testing_ids: [562, 37]
  eval_img_factor: 1.0
  lr_init: 0.0005
  loss_weight:
    l1: 1.0
    lpips: 0.1
    offset: 0.005
  finetune_color: false
  batch_size: 1
  num_workers: 8
  random_bg_color: true
test:
  dataset: MvRgbDatasetActorsHQ
  data:
    data_dir: Z:/Data/MultiviewRGB/ActorsHQ/Actor02/Sequence1
    frame_range: *id001
    subject_name: actor02
  pose_data:
    data_path: Z:/Data/Pose/thuman4/pose_00.npz
    frame_range: [2000, 2500]
#    data_path: Z:/Data/Pose/AMASS/CMU/06/06_13_poses.npz
#    data_path: Z:/Data/Pose/AMASS/CMU/10/10_05_poses.npz
#    frame_interval: 4
  view_setting: free
  render_view_idx: 13
  global_orient: true
  img_scale: 1.0
  save_mesh: false
  render_skeleton: false
  save_tex_map: false
  save_ply: false
  fix_hand: true
  fix_hand_id: 60
  n_pca: 20
  sigma_pca: 2.0
  prev_ckpt: ./results/actor02/avatar/batch_800000
model:
  with_viewdirs: true
  random_style: false